.lead__image-group {
  /* position: absolute;
  top: 496.61px;
  left: 41.5px;
  width: 100%; */
  position: absolute;
  /* max-width: 937.09px;
  max-height: 262.99px; */
  max-width: 937.09px;
  left: 23.27px;
  top: 514.21px;
}

@media screen and (max-width: 1024px) {
  .lead__image-group {
    max-width: 883.76px;
    left: 21.95px;
    top: 493.07px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image-group {
    max-width: 731.38px;
    left: 18.16px;
    top: 478.41px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image-group {
    max-width: 304.74px;
    left: 7.57px;
    top: 261.34px;
  }
}
