.footer {
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 24px;
  /* margin: 0 48px; */
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 180px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
    /* margin: 0 48px; */
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 88px;
    max-width: 768px;
    margin: 0 24px;
    column-gap: 0px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 320px;
    padding-top: 64px;
    margin-left: 16px;
    grid-template-columns: 1fr;
    row-gap: 48px;
  }
}
