.place__website {
  display: grid;
  align-self: end;
  row-gap: 3px;
}

@media screen and (max-width: 768px) {
  .place__website {
    row-gap: 12px;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    display: none;
  }
}
